@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    font-family: "Poppins", sans-serif;
}

/* ============ Header Section ============ */
header {
    background-color: #7030cc;
    padding: 3em 1em;
    margin-bottom: 3em;
}

@media screen and (min-width: 920px) {
    header {
        padding-left: 3em;
    }
}


/* Nav Bar */

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav>img {
    height: 2rem;
}

.ham-menu {
    width: 2.5em;
    position: absolute;
    right: 1em;
    z-index: 3;

    caret-color: rgba(0, 0, 0, 0);
}

.menu-bar {
    height: 0.3em;
    background-color: #fff;
    margin: 0.3em 0em;
}

.nav-menu {
    display: none;
    justify-content: space-around;
    align-items: center; 
}

.toggle-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-list-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-list-item {
    color: #fff;
    margin: 0.5em 0em;
}

@media screen and (min-width: 920px) {
    .ham-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        width: 80%;
    }

    .nav-list {
        width: 500px;
    }

    .nav-list-items {
        flex-direction: row;
    }
}

.nav-item-1 {
    color: #2aaaf2;
    line-height: 12px;
}

.nav-item-1::after {
    content: "";
    height: 1px;
    width: 100%;
    display: inline-block;
    background-color: #d167e3;
}

.nav-button>button {
    background-color: #1bbcef;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin: 0.5em 0em;
}


/* Intro Section */
.intro {
    margin: 3em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.intro-desc {
    max-width: 500px;
}

.intro-desc>h1 {
    color: #fff;
    font-size: 2.5rem;
}

.intro-desc>p {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.8;
    color: #fff;
    margin: 3em 0em;
}

.intro-image>img {
    max-width: 800px;
    width: 100%;
}

@media screen and (min-width: 920px) {
    .intro {
        flex-direction: row;
    }

    .intro-image>img {
        width: 50vw;
    }
}

/* ================= Feature Section ================== */
.feature-section {
    margin: 2em 1em;
}

/* ===== Feature Intro Section ===== */
.feature-intro {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

    padding: 0em 2em;
}

.feature-intro-img>img {
    width: 100%;
    max-width: 600px;
}

@media screen and (min-width: 920px) {
    .feature-section {
        /* margin: 6em; */
    }

    .feature-intro {
        flex-direction: row;
    }

    .feature-intro-img>img {
        width: 40vw;
    }
}

.feature-intro-text {
    max-width: 380px;
}

.feature-intro-text>h2 {
    font-size: 2rem;
    /* margin: 80px 0px; */
    margin: 2em 0em;
}

.feature-intro-sub-text {
    /* margin: 50px 0px; */
    margin: 1em 0em;
    max-width: 300px;
}

.feature-intro-sub-text>h3 {
    margin-bottom: 20px;
}

.feature-intro-sub-text>p {
    font-size: 13px;
    font-weight: 600;
    opacity: 0.8;
}

.feature-intro-sub-text-heading {
    position: relative;
}

.arrow {
    height: 20px;
    transform: rotate(180deg);
    position: absolute;
    left: -20px;
}

/* ===== Feature Body ===== */

.feature-body>h2 {
    margin: 3em auto;
    font-size: 30px;
    max-width: 400px;
    text-align: center;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 920px;
    margin: 0em auto;

}
.feature-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;

    border-radius: 0.65em;
    box-shadow: 3px 3px 3px 2px #a19c9c;

    margin: 0.5em;
}

.feature-card-img {
    border-radius: 2em;
    box-sizing: content-box;
}

.feature-card-img>img {
    height: 30px;
    padding: 20px;
}

.card-img-1 {
    background-color: #faeaeb;
}
.card-img-2 {
    background-color: #fbf0ee;
}
.card-img-3 {
    background-color: #e9f4f6;
}
.card-img-4 {
    background-color: #f2e7f5;
}

.feature-card-text {
    padding-bottom: 30px;
    margin-top: 30px;
    width: 200px;
    text-align: center;
}


.feature-card-text>p {
    width: 150px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.8;
    margin: 0px auto;
}

.feature-card-text>h3 {
    width: 100%;
}

.card-1-text {
    background-color: #6429b7;
    border-radius: 10px;
    color: #fff;
}